<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Ingrediente</title>
    <link href="css/editar-ingrediente.css" rel="stylesheet">

</head>
<body>

<div class="form-container">
    <h2> Editar Ingrediente</h2>
        
        <form action="editar-ingrediente.php" method="POST">
            <input type="hidden" name="acao" value="editar">
            <input type="hidden" name="id_producao" value="">

            <div class="form-group">
                <label for="nome_ingrediente">Nome do Ingrediente:</label>
                <input type="text" id="nome_ingrediente" name="nome_ingrediente" class="form-control" 
                       value="" required>
            </div>

            <div class="form-group">
                <label for="unidade_medida">Unidade de Medida:</label>
                <select id="unidade_medida" name="unidade_medida" class="form-control" required>
                    
                </select>
            </div>

            <div class="form-group">
                <label for="custo_unitario">Custo Unitário (R$):</label>
                <input type="number" id="custo_unitario" name="custo_unitario" min="0.01" step="0.01" class="form-control" 
            </div>

            <div class="form-group">
                <button type="submit" class="btn-submit">
                    Salvar Alterações
                </button>
            </div>
            <a href="ingrediente.php" class="btn-voltar">Cancelar e Voltar</a>
        </form>


</div>

</body>
</html>